.mainLayout {
  position: relative;
}
.mainLayout .mainContent {
  padding: 64px 0 50px 36px;
  width: calc(100% - 128px);
  float: right;
}
@media (max-width: 1024px) {
  .mainLayout .mainContent {
    width: 100%;
    float: unset;
    padding: 33px 0 50px 24px;
  }
}
@media (max-width: 767.98px) {
  .mainLayout .mainContent {
    padding: 24px 0 50px 16px;
  }
} {
  color: #fff;
  font-size: 170px;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 8px;
  display: flex;
}
@media (max-width: 767.98px) {
  .notFound .error {
    font-size: 85px;
    top: 60px;
  }
}
.notFound .error .four {
  display: inline-block;
  transform: rotate(180deg);
}
.notFound .text {
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
}
@media (max-width: 767.98px) {
  .notFound .text {
    margin-top: 30px;
    font-size: 16px;
  }
}
.notFound button {
  outline: none;
  border: none;
  width: 126px;
  height: 40px;
  background: rgb(252, 71, 71);
  color: hsl(223, 30%, 9%);
  border-radius: 8px;
  font-weight: 800;
  font-size: 14px;
  margin: 22px auto 0;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}
.notFound button:hover {
  background: rgba(252, 71, 71, 0.8549019608);
}
.notFound a:global {
  display: flex;
}