.searchBar {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding-right: 36px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .searchBar {
    padding-right: 24px;
  }
}
@media (max-width: 767.98px) {
  .searchBar {
    padding-right: 16px;
    gap: 16px;
    margin-bottom: 14px;
  }
}
.searchBar .searchIcon {
  width: 32px;
  height: 32px;
  background-image: url(../../assets/icon-search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .searchBar .searchIcon {
    width: 24px;
    height: 24px;
  }
}
.searchBar input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  font-family: "Outfit", sans-serif;
  width: 100%;
  caret-color: rgb(252, 71, 71);
  padding-bottom: 14px;
  border-bottom: 1px solid transparent;
  flex: 1;
}
.searchBar input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767.98px) {
  .searchBar input {
    font-size: 16px;
    padding-bottom: 10px;
  }
}
.searchBar input:focus {
  border-bottom: 1px solid #5a698f;
}